.container {
  margin-top: 2.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.tabs {
  margin-top: 1.5rem;
  border-bottom: 1px solid #e3e1e1;
}

.tabLabel {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 0;
  text-align: center;
  color: #6d6b6f;
  margin-right: 25px;
}

label:hover {
  color: #545354;
  cursor: pointer;
}

input:checked + label {
  color: #4e03e5;
  border-bottom: 2px solid #4e03e5;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }
}
